@import "../../Assets/variables.scss";

.profile {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  height: inherit;
  padding: 2rem;
  box-sizing: border-box;

  &-top {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;

    h3,
    h1 {
      margin: 0;
    }

    .greeting {
      font-size: $font3;
      font-weight: $light;
      color: $grey;
    }

    .designation {
      letter-spacing: 2.2px;
      color: $black;
      font-weight: $light;
      font-size: $font2;
    }

    .first-name,
    .last-name {
      color: $steelBlue;
      font-size: $font1;
      text-transform: uppercase;
    }

    .about {
      text-align: justify;
      color: $grey;
      font-size: $font3;
      font-weight: $light;
    }

    .dw-resume {
      outline: none;
      border: 1px solid $grey;
      background-color: transparent;
      color: $grey;
      padding: 1rem;
      transition: 0.2s all ease-in-out;
      cursor: pointer;
      text-decoration: none;

      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;

      &:hover {
        border-color: $steelBlue;
        color: $white;
        background-color: $steelBlue;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  &-bottom {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .details-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      padding: 1rem 0;

      svg {
        margin-right: 8px;
        * {
          fill: $grey;
        }
      }

      .value {
        text-decoration: none;
        color: $grey;
      }

      &:hover {
        svg * {
          fill: $steelBlue;
        }
        .value {
          color: $steelBlue;
        }
      }
    }
  }
}
