@import "../../Assets/variables.scss";

#loader {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent !important;
    * {
      stroke: $steelBlue;
    }
  }
  opacity: 1;
  transition: 0.2s ease-out all;
}

.hide-loader {
  opacity: 0;
}
